/* ================== Header =================================*/




/* ================ Goal Number Section =====================*/




/* ================= Rules of the Game =======================*/



/* ==================== Crystal Buttons =======================*/

#firstCrystal img {
	width: 100%;
}

#secondCrystal img {
	width: 100%;
}

#thirdCrystal img {
	width: 100%;
}

#fourthCrystal img {
	width: 100%;
}